.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerModal {
    width: 500px;
    min-height: 100px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}

.headerModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    border-bottom: 1px solid #e8e8e8;
}

.headerModal h1 {
    font-weight: 500;
    color: #1766dc;
}

.buttonClose {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3 ease all;
    border-radius: 5px;
    color: #1766dc;
}

.buttonClose:hover {
    background-color: #f2f2f2;
}

.buttonClose svg {
    height: 30px;
    margin-left: -6px;
}

.results span {
    font-weight: bold;
}

.containerButtonStartAgain {
    display: flex;
    align-items: center;
    justify-content: end;
}

.containerButtonStartAgain button {
    background-color: #1794F3;
    padding: 7px;
    border-radius: 5px;
    border: solid 2px #1794F3;
    color: #fff;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.containerButtonStartAgain button:hover {
    background-color: #0b6ab3;
    border: solid 2px #0b6ab3;
}